*{
  color: #ffffff;
  font-family: Helvetica;
}
#imagen{
  float:left;
  width:100px;
  height:100px;
}
.mi-contenedor > div {
 padding: 50px;
}

.container > div {
  background: #0C6DFD;
  border: 2px solid white;
  padding: 15px;
}
body {
  background: #536976;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2{
  color: #ffffff;
  text-align: center;
}

h3, h4{
  color: rgb(236, 253, 137);
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  }

/*nav {
   color: rgb(255, 255, 255);
}*/

li {
  background: #f3f5f5;
  color: #ffffff;  
  display: inline-block;
  margin: 0.25rem;
  padding: 0.5rem;
}

a:hover {
    color: rgb(176, 201, 109);
}

.row >div {
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  display: flexbox;
}
.col > div{
display: flexbox;
}
.Resumen{
  display:flexbox;
}
#Datp{
  display: block;
  color: #ffffff;
}
#Res{
  text-align: center;
}
.Divide {
  color:#f3f5f5;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
